In [2]:
import pandas as pd
import numpy as np

In [18]:
nas_full = pd.read_csv('../datasets/nas/nas-pupil-marks.csv');

# trimming all whitespaces from cells
df_obj = nas_full.select_dtypes(['object'])
nas_full[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

nas_full.iloc[:,:]

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
0,11011001001,AP,1,1,3,3,1,5,2,1,...,3,3,4,3,4,4,20.37,NaN,27.78,NaN
1,11011001002,AP,1,2,3,4,2,5,2,2,...,3,4,4,3,4,4,12.96,NaN,38.18,NaN
2,11011001003,AP,1,2,3,4,2,5,2,1,...,3,4,3,3,4,4,27.78,70.00,NaN,NaN
3,11011001004,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,NaN,56.67,NaN,36.00
4,11011001005,AP,1,2,3,3,2,5,2,1,...,3,2,3,3,4,4,NaN,NaN,14.55,8.33
5,11011001006,AP,1,2,3,3,1,5,2,3,...,1,4,3,2,4,4,NaN,23.33,NaN,30.00
6,11011001007,AP,1,2,3,4,2,2,2,1,...,3,4,4,4,4,4,40.74,70.00,NaN,NaN
7,11011001008,AP,1,2,2,0,2,4,2,1,...,3,4,3,3,3,4,NaN,26.67,NaN,22.92
8,11011001009,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,24.07,NaN,25.45,NaN
9,11011001010,AP,1,2,2,4,2,3,2,1,...,3,4,3,4,3,4,18.52,26.67,NaN,NaN
10,11011001012,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,37.04,16.67,NaN,NaN
11,11011001013,AP,1,2,5,3,2,4,2,2,...,1,4,1,2,3,4,20.37,NaN,20.00,NaN
12,11011001014,AP,1,2,3,3,1,4,2,2,...,3,3,4,4,4,4,NaN,NaN,29.63,35.42
13,11011001015,AP,1,2,3,3,1,5,2,0,...,3,3,3,3,4,4,27.78,66.67,NaN,NaN
14,11011001016,AP,1,2,3,3,2,5,2,0,...,2,4,1,3,4,4,18.52,NaN,NaN,NaN
15,11011001017,AP,1,2,2,4,2,5,2,2,...,3,4,3,3,4,4,NaN,NaN,42.59,32.00
16,11011001018,AP,1,2,2,4,1,5,2,2,...,3,4,3,3,3,4,16.67,NaN,NaN,NaN
17,11011001019,AP,1,2,0,0,0,1,0,1,...,3,1,4,4,4,4,NaN,NaN,21.82,NaN
18,11011001020,AP,1,2,3,3,1,3,1,3,...,3,4,3,3,4,4,NaN,20.00,NaN,16.00
19,11011001021,AP,1,2,3,4,1,4,2,1,...,3,4,3,3,4,4,NaN,NaN,18.52,16.67
20,11011001022,AP,1,2,3,4,1,4,2,1,...,3,4,3,4,4,4,29.63,NaN,18.18,NaN
21,11011001023,AP,1,2,3,4,1,2,2,1,...,3,4,3,3,4,4,NaN,43.33,NaN,NaN
22,11011001024,AP,1,1,5,1,2,5,2,2,...,3,4,4,3,2,4,38.89,60.00,NaN,NaN
23,11011001025,AP,1,1,3,1,1,4,2,1,...,1,3,4,3,4,4,27.78,NaN,33.33,NaN
24,11011001026,AP,1,1,5,2,1,4,2,1,...,3,4,4,3,4,4,NaN,43.33,NaN,42.00
25,11011001027,AP,1,1,5,2,1,5,2,1,...,3,4,4,4,4,4,NaN,NaN,43.64,39.58
26,11011001029,AP,1,1,4,3,1,5,2,1,...,3,3,4,3,4,4,29.63,73.33,NaN,NaN
27,11011001030,AP,1,2,5,3,2,5,2,1,...,3,1,4,4,4,4,29.63,NaN,NaN,NaN
28,11011001031,AP,1,1,2,4,1,4,2,1,...,3,4,4,3,3,4,24.07,NaN,40.74,NaN
29,11011001032,AP,1,1,0,3,2,5,2,1,...,3,4,2,3,4,4,NaN,13.33,NaN,14.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185318,45021031013,DD,2,2,3,3,1,4,2,3,...,2,4,3,2,4,4,NaN,NaN,NaN,NaN
185319,45021031016,DD,2,2,4,2,1,5,2,3,...,2,4,3,3,2,4,30.51,44.83,32.73,17.02
185320,45021031018,DD,2,2,3,2,1,5,2,3,...,2,4,4,3,4,4,27.12,27.59,32.73,29.79
185321,45021031019,DD,2,2,3,3,1,3,2,5,...,2,4,3,1,4,4,NaN,NaN,50.00,30.61
185322,45021031020,DD,2,2,3,3,1,3,2,5,...,2,4,3,2,4,4,33.90,93.10,52.73,23.40
185323,45021031022,DD,2,2,4,3,1,5,2,2,...,2,4,3,2,4,4,23.73,48.28,36.36,36.17
185324,45021031023,DD,2,2,4,4,1,2,2,2,...,2,4,3,3,4,4,36.67,66.67,37.50,34.69
185325,45021031024,DD,2,2,4,4,1,5,2,1,...,2,4,3,3,4,4,25.42,82.76,49.09,29.79
185326,45021031025,DD,2,2,5,4,2,5,2,2,...,2,4,4,3,4,4,26.67,63.33,32.14,26.53
185327,45021031026,DD,2,2,2,4,1,4,2,3,...,2,4,1,3,4,4,27.12,34.48,38.18,29.79
185328,45021031027,DD,2,2,2,4,1,4,2,3,...,2,4,3,4,4,4,30.00,53.33,33.93,24.49
185329,45021031028,DD,2,2,5,3,0,1,2,3,...,2,4,4,2,4,4,28.81,79.31,34.55,25.53
185330,45021031029,DD,2,1,5,3,1,2,0,2,...,2,4,3,2,4,4,20.00,36.67,35.71,24.49
185331,45021031030,DD,2,1,3,3,1,2,2,3,...,2,4,3,2,4,3,38.98,79.31,45.45,34.04
185332,45021031032,DD,2,1,3,1,1,3,0,3,...,2,4,3,2,4,3,28.81,82.76,60.00,42.55
185333,45021031036,DD,2,1,4,2,1,2,2,1,...,2,4,3,2,4,4,NaN,NaN,29.09,21.28
185334,45021031037,DD,2,2,3,3,1,5,2,3,...,2,4,4,3,3,4,40.00,63.33,35.71,42.86
185335,45021031038,DD,2,2,3,4,2,4,2,2,...,2,1,1,1,4,4,25.42,51.72,40.00,23.40
185336,45021031039,DD,2,2,5,4,1,4,2,3,...,2,4,1,3,4,4,23.33,46.67,33.93,30.61
185337,45021031040,DD,2,2,4,4,2,4,2,3,...,2,4,1,3,4,4,27.12,24.14,32.73,44.68
185338,45021031041,DD,2,2,5,4,2,3,2,1,...,2,4,3,3,2,4,33.90,66.67,41.07,38.78
185339,45021031042,DD,2,2,5,4,2,4,2,5,...,2,4,3,3,2,4,NaN,72.41,36.36,42.55
185340,45021031045,DD,2,2,3,3,1,3,2,5,...,2,4,3,2,3,4,36.67,66.67,41.07,42.86
185341,45021031046,DD,2,2,3,3,1,2,2,3,...,2,4,3,2,3,4,42.37,72.41,45.45,36.17
185342,45021031047,DD,2,2,4,3,1,2,2,3,...,2,4,3,2,3,4,45.00,66.67,32.14,24.49
185343,45021031048,DD,2,2,3,3,1,2,2,3,...,2,4,3,2,3,4,22.03,65.52,38.18,19.15
185344,45021031049,DD,2,2,2,1,1,3,2,3,...,2,4,3,3,4,4,31.67,40.00,41.07,24.49
185345,45021031050,DD,2,2,3,2,1,3,2,3,...,2,4,3,2,4,4,40.68,41.38,38.18,27.66
185346,45021031051,DD,2,2,3,2,1,2,2,1,...,2,4,3,3,4,4,18.33,70.00,33.93,32.65
185347,45021031052,DD,2,2,3,2,1,2,2,1,...,2,4,3,3,4,4,23.73,55.17,41.82,31.91

In [9]:
nas_full.tail()

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
185343,45021031048,DD,2,2,3,3,1,2,2,3,...,2,4,3,2,3,4,22.03,65.52,38.18,19.15
185344,45021031049,DD,2,2,2,1,1,3,2,3,...,2,4,3,3,4,4,31.67,40.00,41.07,24.49
185345,45021031050,DD,2,2,3,2,1,3,2,3,...,2,4,3,2,4,4,40.68,41.38,38.18,27.66
185346,45021031051,DD,2,2,3,2,1,2,2,1,...,2,4,3,3,4,4,18.33,70.00,33.93,32.65
185347,45021031052,DD,2,2,3,2,1,2,2,1,...,2,4,3,3,4,4,23.73,55.17,41.82,31.91

In [15]:
# Counting size of dataset
nas_full.count

<bound method DataFrame.count of               STUID State  District  Gender  Age  Category  Same language  \
0       11011001001    AP         1       1    3         3              1
1       11011001002    AP         1       2    3         4              2
2       11011001003    AP         1       2    3         4              2
3       11011001004    AP         1       2    3         3              2
4       11011001005    AP         1       2    3         3              2
5       11011001006    AP         1       2    3         3              1
6       11011001007    AP         1       2    3         4              2
7       11011001008    AP         1       2    2         0              2
8       11011001009    AP         1       2    3         3              2
9       11011001010    AP         1       2    2         4              2
10      11011001012    AP         1       2    3         3              2
11      11011001013    AP         1       2    5         3              2
12      11011001014    AP         1       2    3         3              1
13      11011001015    AP         1       2    3         3              1
14      11011001016    AP         1       2    3         3              2
15      11011001017    AP         1       2    2         4              2
16      11011001018    AP         1       2    2         4              1
17      11011001019    AP         1       2    0         0              0
18      11011001020    AP         1       2    3         3              1
19      11011001021    AP         1       2    3         4              1
20      11011001022    AP         1       2    3         4              1
21      11011001023    AP         1       2    3         4              1
22      11011001024    AP         1       1    5         1              2
23      11011001025    AP         1       1    3         1              1
24      11011001026    AP         1       1    5         2              1
25      11011001027    AP         1       1    5         2              1
26      11011001029    AP         1       1    4         3              1
27      11011001030    AP         1       2    5         3              2
28      11011001031    AP         1       1    2         4              1
29      11011001032    AP         1       1    0         3              2
...             ...   ...       ...     ...  ...       ...            ...
185318  45021031013    DD         2       2    3         3              1
185319  45021031016    DD         2       2    4         2              1
185320  45021031018    DD         2       2    3         2              1
185321  45021031019    DD         2       2    3         3              1
185322  45021031020    DD         2       2    3         3              1
185323  45021031022    DD         2       2    4         3              1
185324  45021031023    DD         2       2    4         4              1
185325  45021031024    DD         2       2    4         4              1
185326  45021031025    DD         2       2    5         4              2
185327  45021031026    DD         2       2    2         4              1
185328  45021031027    DD         2       2    2         4              1
185329  45021031028    DD         2       2    5         3              0
185330  45021031029    DD         2       1    5         3              1
185331  45021031030    DD         2       1    3         3              1
185332  45021031032    DD         2       1    3         1              1
185333  45021031036    DD         2       1    4         2              1
185334  45021031037    DD         2       2    3         3              1
185335  45021031038    DD         2       2    3         4              2
185336  45021031039    DD         2       2    5         4              1
185337  45021031040    DD         2       2    4         4              2
185338  45021031041    DD         2       2    5         4              2
185339  45021031042    DD         2       2    5         4              2
185340  45021031045    DD         2       2    3         3              1
185341  45021031046    DD         2       2    3         3              1
185342  45021031047    DD         2       2    4         3              1
185343  45021031048    DD         2       2    3         3              1
185344  45021031049    DD         2       2    2         1              1
185345  45021031050    DD         2       2    3         2              1
185346  45021031051    DD         2       2    3         2              1
185347  45021031052    DD         2       2    3         2              1

        Siblings  Handicap  Father edu    ...     Express science views  \
0              5         2           1    ...                         3
1              5         2           2    ...                         3
2              5         2           1    ...                         3
3              4         2           1    ...                         3
4              5         2           1    ...                         3
5              5         2           3    ...                         1
6              2         2           1    ...                         3
7              4         2           1    ...                         3
8              4         2           1    ...                         3
9              3         2           1    ...                         3
10             4         2           1    ...                         3
11             4         2           2    ...                         1
12             4         2           2    ...                         3
13             5         2           0    ...                         3
14             5         2           0    ...                         2
15             5         2           2    ...                         3
16             5         2           2    ...                         3
17             1         0           1    ...                         3
18             3         1           3    ...                         3
19             4         2           1    ...                         3
20             4         2           1    ...                         3
21             2         2           1    ...                         3
22             5         2           2    ...                         3
23             4         2           1    ...                         1
24             4         2           1    ...                         3
25             5         2           1    ...                         3
26             5         2           1    ...                         3
27             5         2           1    ...                         3
28             4         2           1    ...                         3
29             5         2           1    ...                         3
...          ...       ...         ...    ...                       ...
185318         4         2           3    ...                         2
185319         5         2           3    ...                         2
185320         5         2           3    ...                         2
185321         3         2           5    ...                         2
185322         3         2           5    ...                         2
185323         5         2           2    ...                         2
185324         2         2           2    ...                         2
185325         5         2           1    ...                         2
185326         5         2           2    ...                         2
185327         4         2           3    ...                         2
185328         4         2           3    ...                         2
185329         1         2           3    ...                         2
185330         2         0           2    ...                         2
185331         2         2           3    ...                         2
185332         3         0           3    ...                         2
185333         2         2           1    ...                         2
185334         5         2           3    ...                         2
185335         4         2           2    ...                         2
185336         4         2           3    ...                         2
185337         4         2           3    ...                         2
185338         3         2           1    ...                         2
185339         4         2           5    ...                         2
185340         3         2           5    ...                         2
185341         2         2           3    ...                         2
185342         2         2           3    ...                         2
185343         2         2           3    ...                         2
185344         3         2           3    ...                         2
185345         3         2           3    ...                         2
185346         2         2           1    ...                         2
185347         2         2           1    ...                         2

        Watch TV  Read magazine  Read a book  Play games Help in household  \
0              3              4            3           4                 4
1              4              4            3           4                 4
2              4              3            3           4                 4
3              4              3            3           4                 4
4              2              3            3           4                 4
5              4              3            2           4                 4
6              4              4            4           4                 4
7              4              3            3           3                 4
8              4              3            3           4                 4
9              4              3            4           3                 4
10             4              3            3           4                 4
11             4              1            2           3                 4
12             3              4            4           4                 4
13             3              3            3           4                 4
14             4              1            3           4                 4
15             4              3            3           4                 4
16             4              3            3           3                 4
17             1              4            4           4                 4
18             4              3            3           4                 4
19             4              3            3           4                 4
20             4              3            4           4                 4
21             4              3            3           4                 4
22             4              4            3           2                 4
23             3              4            3           4                 4
24             4              4            3           4                 4
25             4              4            4           4                 4
26             3              4            3           4                 4
27             1              4            4           4                 4
28             4              4            3           3                 4
29             4              2            3           4                 4
...          ...            ...          ...         ...               ...
185318         4              3            2           4                 4
185319         4              3            3           2                 4
185320         4              4            3           4                 4
185321         4              3            1           4                 4
185322         4              3            2           4                 4
185323         4              3            2           4                 4
185324         4              3            3           4                 4
185325         4              3            3           4                 4
185326         4              4            3           4                 4
185327         4              1            3           4                 4
185328         4              3            4           4                 4
185329         4              4            2           4                 4
185330         4              3            2           4                 4
185331         4              3            2           4                 3
185332         4              3            2           4                 3
185333         4              3            2           4                 4
185334         4              4            3           3                 4
185335         1              1            1           4                 4
185336         4              1            3           4                 4
185337         4              1            3           4                 4
185338         4              3            3           2                 4
185339         4              3            3           2                 4
185340         4              3            2           3                 4
185341         4              3            2           3                 4
185342         4              3            2           3                 4
185343         4              3            2           3                 4
185344         4              3            3           4                 4
185345         4              3            2           4                 4
185346         4              3            3           4                 4
185347         4              3            3           4                 4

        Maths %  Reading %  Science %  Social %
0         20.37        NaN      27.78       NaN
1         12.96        NaN      38.18       NaN
2         27.78      70.00        NaN       NaN
3           NaN      56.67        NaN     36.00
4           NaN        NaN      14.55      8.33
5           NaN      23.33        NaN     30.00
6         40.74      70.00        NaN       NaN
7           NaN      26.67        NaN     22.92
8         24.07        NaN      25.45       NaN
9         18.52      26.67        NaN       NaN
10        37.04      16.67        NaN       NaN
11        20.37        NaN      20.00       NaN
12          NaN        NaN      29.63     35.42
13        27.78      66.67        NaN       NaN
14        18.52        NaN        NaN       NaN
15          NaN        NaN      42.59     32.00
16        16.67        NaN        NaN       NaN
17          NaN        NaN      21.82       NaN
18          NaN      20.00        NaN     16.00
19          NaN        NaN      18.52     16.67
20        29.63        NaN      18.18       NaN
21          NaN      43.33        NaN       NaN
22        38.89      60.00        NaN       NaN
23        27.78        NaN      33.33       NaN
24          NaN      43.33        NaN     42.00
25          NaN        NaN      43.64     39.58
26        29.63      73.33        NaN       NaN
27        29.63        NaN        NaN       NaN
28        24.07        NaN      40.74       NaN
29          NaN      13.33        NaN     14.58
...         ...        ...        ...       ...
185318      NaN        NaN        NaN       NaN
185319    30.51      44.83      32.73     17.02
185320    27.12      27.59      32.73     29.79
185321      NaN        NaN      50.00     30.61
185322    33.90      93.10      52.73     23.40
185323    23.73      48.28      36.36     36.17
185324    36.67      66.67      37.50     34.69
185325    25.42      82.76      49.09     29.79
185326    26.67      63.33      32.14     26.53
185327    27.12      34.48      38.18     29.79
185328    30.00      53.33      33.93     24.49
185329    28.81      79.31      34.55     25.53
185330    20.00      36.67      35.71     24.49
185331    38.98      79.31      45.45     34.04
185332    28.81      82.76      60.00     42.55
185333      NaN        NaN      29.09     21.28
185334    40.00      63.33      35.71     42.86
185335    25.42      51.72      40.00     23.40
185336    23.33      46.67      33.93     30.61
185337    27.12      24.14      32.73     44.68
185338    33.90      66.67      41.07     38.78
185339      NaN      72.41      36.36     42.55
185340    36.67      66.67      41.07     42.86
185341    42.37      72.41      45.45     36.17
185342    45.00      66.67      32.14     24.49
185343    22.03      65.52      38.18     19.15
185344    31.67      40.00      41.07     24.49
185345    40.68      41.38      38.18     27.66
185346    18.33      70.00      33.93     32.65
185347    23.73      55.17      41.82     31.91

[185348 rows x 64 columns]>

In [26]:
# Checkhing for duplicates
#678 rows found
stuid = nas_full['STUID']
nas_full[stuid.isin(stuid[stuid.duplicated()])].sort('STUID')

e:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
36,11011002001,AP,1,2,3,3,1,4,2,0,...,1,4,3,1,3,4,44.44,NaN,NaN,NaN
37,11011002001,AP,1,2,3,3,1,4,2,0,...,1,4,3,1,3,4,31.48,NaN,NaN,NaN
206,11011008022,AP,1,1,3,4,1,3,2,3,...,3,3,3,3,2,4,NaN,50.00,NaN,NaN
207,11011008022,AP,1,1,3,4,1,3,2,3,...,3,3,3,3,2,4,NaN,43.33,NaN,NaN
548,11011020006,AP,1,2,3,2,2,5,2,1,...,3,4,4,4,4,4,20.37,NaN,NaN,NaN
549,11011020006,AP,1,2,3,2,2,5,2,1,...,3,4,4,4,4,4,16.67,NaN,NaN,NaN
552,11011020009,AP,1,2,2,4,1,2,2,2,...,3,4,4,4,3,4,NaN,23.33,NaN,NaN
553,11011020009,AP,1,2,2,4,1,2,2,2,...,3,4,4,4,3,4,NaN,26.67,NaN,NaN
590,11011022023,AP,1,2,1,3,1,2,2,1,...,3,4,1,4,1,4,9.26,NaN,NaN,NaN
591,11011022023,AP,1,2,1,3,1,2,2,1,...,3,4,1,4,1,4,29.63,NaN,NaN,NaN
767,11021027001,AP,2,2,3,1,1,2,2,0,...,3,4,4,4,4,4,25.93,NaN,NaN,NaN
766,11021027001,AP,2,2,3,1,1,2,2,0,...,3,4,4,4,4,4,24.07,NaN,NaN,NaN
881,11021032038,AP,2,1,0,1,0,3,2,1,...,1,4,2,1,4,4,29.63,NaN,NaN,NaN
882,11021032038,AP,2,1,0,1,0,3,2,1,...,1,4,2,1,4,4,3.70,NaN,NaN,NaN
1023,11021036030,AP,2,1,3,1,1,2,2,1,...,3,4,4,4,4,4,14.81,NaN,NaN,NaN
1024,11021036030,AP,2,1,3,1,1,2,2,1,...,3,4,4,4,4,4,22.22,NaN,NaN,NaN
1055,11021037027,AP,2,1,3,0,1,3,2,0,...,3,4,2,2,3,2,22.22,NaN,NaN,NaN
1056,11021037027,AP,2,1,3,0,1,3,2,0,...,3,4,2,2,3,2,22.22,NaN,NaN,NaN
1175,11021046003,AP,2,1,6,3,1,4,2,1,...,2,2,4,3,4,2,24.07,NaN,NaN,NaN
1176,11021046003,AP,2,1,6,3,1,4,2,1,...,2,2,4,3,4,2,16.67,NaN,NaN,NaN
1851,11031066021,AP,3,1,3,3,1,3,2,2,...,3,4,4,3,4,4,NaN,NaN,29.09,NaN
1850,11031066021,AP,3,1,3,3,1,3,2,2,...,3,4,4,3,4,4,NaN,NaN,27.78,NaN
2405,11041084009,AP,4,1,3,3,1,2,2,2,...,1,4,4,4,4,3,42.59,NaN,NaN,NaN
2406,11041084009,AP,4,1,3,3,1,2,2,2,...,1,4,4,4,4,3,22.22,NaN,NaN,NaN
2418,11041084021,AP,4,1,3,1,1,2,2,1,...,3,4,3,2,4,4,31.48,NaN,NaN,NaN
2419,11041084021,AP,4,1,3,1,1,2,2,1,...,3,4,3,2,4,4,14.81,NaN,NaN,NaN
2469,11041086005,AP,4,1,4,3,1,3,2,1,...,2,4,3,4,3,4,22.22,NaN,NaN,NaN
2470,11041086005,AP,4,1,4,3,1,3,2,1,...,2,4,3,4,3,4,20.37,NaN,NaN,NaN
2609,11041090039,AP,4,2,4,1,1,1,1,1,...,3,4,4,3,3,4,NaN,63.33,NaN,NaN
2610,11041090039,AP,4,2,4,1,1,1,1,1,...,3,4,4,3,3,4,NaN,16.67,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159455,38051137029,UK,5,2,4,3,2,4,2,2,...,3,3,4,1,2,4,21.67,NaN,NaN,NaN
159456,38051137029,UK,5,2,4,3,2,4,2,2,...,3,3,4,1,2,4,25.42,NaN,NaN,NaN
159460,38051137033,UK,5,1,4,1,2,5,2,2,...,3,3,4,4,4,4,26.67,NaN,NaN,NaN
159461,38051137033,UK,5,1,4,1,2,5,2,2,...,3,3,4,4,4,4,15.25,NaN,NaN,NaN
159465,38051137037,UK,5,1,3,3,2,5,2,2,...,3,4,4,4,4,4,28.33,NaN,NaN,NaN
159466,38051137037,UK,5,1,3,3,2,5,2,2,...,3,4,4,4,4,4,20.34,NaN,NaN,NaN
159704,38051148003,UK,5,2,3,3,2,4,2,2,...,1,4,3,3,4,4,28.81,NaN,NaN,NaN
159703,38051148003,UK,5,2,3,3,2,4,2,2,...,1,4,3,3,4,4,25.00,NaN,NaN,NaN
159713,38051148014,UK,5,1,4,1,2,5,2,4,...,1,4,3,3,4,4,NaN,NaN,NaN,50.0
159714,38051148014,UK,5,1,4,1,2,5,2,4,...,1,4,3,3,4,4,NaN,NaN,NaN,22.0
160149,38061168005,UK,6,2,3,4,2,5,2,4,...,2,4,4,3,4,4,16.67,NaN,NaN,NaN
160150,38061168005,UK,6,2,3,4,2,5,2,4,...,2,4,4,3,4,4,62.71,NaN,NaN,NaN
160396,38071183001,UK,7,2,5,1,1,5,2,1,...,0,4,4,1,1,1,NaN,6.67,NaN,NaN
160397,38071183001,UK,7,2,5,1,1,5,2,1,...,0,4,4,1,1,1,NaN,16.67,NaN,NaN
161343,38072182008,UK,7,1,3,3,1,5,2,1,...,3,3,4,3,2,4,NaN,50.00,NaN,NaN
161344,38072182008,UK,7,1,3,3,1,5,2,1,...,3,3,4,3,2,4,NaN,13.33,NaN,NaN
162393,38081265035,UK,8,2,4,3,1,5,1,1,...,1,3,4,3,3,3,NaN,NaN,NaN,26.0
162392,38081265035,UK,8,2,4,3,1,5,1,1,...,1,3,4,3,3,3,NaN,NaN,NaN,52.0
163200,39021029021,WB,2,1,4,3,0,3,2,3,...,3,3,2,2,4,4,NaN,93.33,NaN,NaN
163201,39021029021,WB,2,1,4,3,0,3,2,3,...,3,3,2,2,4,4,NaN,10.00,NaN,NaN
163306,39021033017,WB,2,1,3,1,1,1,1,2,...,1,4,3,3,4,4,55.00,73.33,NaN,NaN
163307,39021033017,WB,2,1,3,1,1,1,1,2,...,1,4,3,3,4,4,55.00,36.67,NaN,NaN
167398,39091230021,WB,9,2,3,4,1,2,2,5,...,1,4,4,3,1,3,NaN,96.67,NaN,NaN
167399,39091230021,WB,9,2,3,4,1,2,2,5,...,1,4,4,3,1,3,NaN,20.00,NaN,NaN
167920,39101251014,WB,10,1,6,1,0,3,2,3,...,1,3,4,1,4,4,NaN,10.00,NaN,NaN
167921,39101251014,WB,10,1,6,1,0,3,2,3,...,1,3,4,1,4,4,NaN,53.33,NaN,NaN
168059,39101256009,WB,10,2,4,4,1,5,2,2,...,1,4,1,2,4,4,NaN,20.00,NaN,NaN
168060,39101256009,WB,10,2,4,4,1,5,2,2,...,1,4,1,2,4,4,NaN,43.33,NaN,NaN
168266,39101264002,WB,10,2,4,1,0,5,1,2,...,3,2,2,3,4,4,26.67,53.33,NaN,NaN
168267,39101264002,WB,10,2,4,1,0,5,1,2,...,3,2,2,3,4,4,25.42,53.33,NaN,NaN

## Removing 678 duplicate rows

In [27]:

df1 = nas_full.drop_duplicates(subset=['STUID'], keep=False)
df1 
# Removed duplicate student ID

,STUID,State,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
0,11011001001,AP,1,1,3,3,1,5,2,1,...,3,3,4,3,4,4,20.37,NaN,27.78,NaN
1,11011001002,AP,1,2,3,4,2,5,2,2,...,3,4,4,3,4,4,12.96,NaN,38.18,NaN
2,11011001003,AP,1,2,3,4,2,5,2,1,...,3,4,3,3,4,4,27.78,70.00,NaN,NaN
3,11011001004,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,NaN,56.67,NaN,36.00
4,11011001005,AP,1,2,3,3,2,5,2,1,...,3,2,3,3,4,4,NaN,NaN,14.55,8.33
5,11011001006,AP,1,2,3,3,1,5,2,3,...,1,4,3,2,4,4,NaN,23.33,NaN,30.00
6,11011001007,AP,1,2,3,4,2,2,2,1,...,3,4,4,4,4,4,40.74,70.00,NaN,NaN
7,11011001008,AP,1,2,2,0,2,4,2,1,...,3,4,3,3,3,4,NaN,26.67,NaN,22.92
8,11011001009,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,24.07,NaN,25.45,NaN
9,11011001010,AP,1,2,2,4,2,3,2,1,...,3,4,3,4,3,4,18.52,26.67,NaN,NaN
10,11011001012,AP,1,2,3,3,2,4,2,1,...,3,4,3,3,4,4,37.04,16.67,NaN,NaN
11,11011001013,AP,1,2,5,3,2,4,2,2,...,1,4,1,2,3,4,20.37,NaN,20.00,NaN
12,11011001014,AP,1,2,3,3,1,4,2,2,...,3,3,4,4,4,4,NaN,NaN,29.63,35.42
13,11011001015,AP,1,2,3,3,1,5,2,0,...,3,3,3,3,4,4,27.78,66.67,NaN,NaN
14,11011001016,AP,1,2,3,3,2,5,2,0,...,2,4,1,3,4,4,18.52,NaN,NaN,NaN
15,11011001017,AP,1,2,2,4,2,5,2,2,...,3,4,3,3,4,4,NaN,NaN,42.59,32.00
16,11011001018,AP,1,2,2,4,1,5,2,2,...,3,4,3,3,3,4,16.67,NaN,NaN,NaN
17,11011001019,AP,1,2,0,0,0,1,0,1,...,3,1,4,4,4,4,NaN,NaN,21.82,NaN
18,11011001020,AP,1,2,3,3,1,3,1,3,...,3,4,3,3,4,4,NaN,20.00,NaN,16.00
19,11011001021,AP,1,2,3,4,1,4,2,1,...,3,4,3,3,4,4,NaN,NaN,18.52,16.67
20,11011001022,AP,1,2,3,4,1,4,2,1,...,3,4,3,4,4,4,29.63,NaN,18.18,NaN
21,11011001023,AP,1,2,3,4,1,2,2,1,...,3,4,3,3,4,4,NaN,43.33,NaN,NaN
22,11011001024,AP,1,1,5,1,2,5,2,2,...,3,4,4,3,2,4,38.89,60.00,NaN,NaN
23,11011001025,AP,1,1,3,1,1,4,2,1,...,1,3,4,3,4,4,27.78,NaN,33.33,NaN
24,11011001026,AP,1,1,5,2,1,4,2,1,...,3,4,4,3,4,4,NaN,43.33,NaN,42.00
25,11011001027,AP,1,1,5,2,1,5,2,1,...,3,4,4,4,4,4,NaN,NaN,43.64,39.58
26,11011001029,AP,1,1,4,3,1,5,2,1,...,3,3,4,3,4,4,29.63,73.33,NaN,NaN
27,11011001030,AP,1,2,5,3,2,5,2,1,...,3,1,4,4,4,4,29.63,NaN,NaN,NaN
28,11011001031,AP,1,1,2,4,1,4,2,1,...,3,4,4,3,3,4,24.07,NaN,40.74,NaN
29,11011001032,AP,1,1,0,3,2,5,2,1,...,3,4,2,3,4,4,NaN,13.33,NaN,14.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185318,45021031013,DD,2,2,3,3,1,4,2,3,...,2,4,3,2,4,4,NaN,NaN,NaN,NaN
185319,45021031016,DD,2,2,4,2,1,5,2,3,...,2,4,3,3,2,4,30.51,44.83,32.73,17.02
185320,45021031018,DD,2,2,3,2,1,5,2,3,...,2,4,4,3,4,4,27.12,27.59,32.73,29.79
185321,45021031019,DD,2,2,3,3,1,3,2,5,...,2,4,3,1,4,4,NaN,NaN,50.00,30.61
185322,45021031020,DD,2,2,3,3,1,3,2,5,...,2,4,3,2,4,4,33.90,93.10,52.73,23.40
185323,45021031022,DD,2,2,4,3,1,5,2,2,...,2,4,3,2,4,4,23.73,48.28,36.36,36.17
185324,45021031023,DD,2,2,4,4,1,2,2,2,...,2,4,3,3,4,4,36.67,66.67,37.50,34.69
185325,45021031024,DD,2,2,4,4,1,5,2,1,...,2,4,3,3,4,4,25.42,82.76,49.09,29.79
185326,45021031025,DD,2,2,5,4,2,5,2,2,...,2,4,4,3,4,4,26.67,63.33,32.14,26.53
185327,45021031026,DD,2,2,2,4,1,4,2,3,...,2,4,1,3,4,4,27.12,34.48,38.18,29.79
185328,45021031027,DD,2,2,2,4,1,4,2,3,...,2,4,3,4,4,4,30.00,53.33,33.93,24.49
185329,45021031028,DD,2,2,5,3,0,1,2,3,...,2,4,4,2,4,4,28.81,79.31,34.55,25.53
185330,45021031029,DD,2,1,5,3,1,2,0,2,...,2,4,3,2,4,4,20.00,36.67,35.71,24.49
185331,45021031030,DD,2,1,3,3,1,2,2,3,...,2,4,3,2,4,3,38.98,79.31,45.45,34.04
185332,45021031032,DD,2,1,3,1,1,3,0,3,...,2,4,3,2,4,3,28.81,82.76,60.00,42.55
185333,45021031036,DD,2,1,4,2,1,2,2,1,...,2,4,3,2,4,4,NaN,NaN,29.09,21.28
185334,45021031037,DD,2,2,3,3,1,5,2,3,...,2,4,4,3,3,4,40.00,63.33,35.71,42.86
185335,45021031038,DD,2,2,3,4,2,4,2,2,...,2,1,1,1,4,4,25.42,51.72,40.00,23.40
185336,45021031039,DD,2,2,5,4,1,4,2,3,...,2,4,1,3,4,4,23.33,46.67,33.93,30.61
185337,45021031040,DD,2,2,4,4,2,4,2,3,...,2,4,1,3,4,4,27.12,24.14,32.73,44.68
185338,45021031041,DD,2,2,5,4,2,3,2,1,...,2,4,3,3,2,4,33.90,66.67,41.07,38.78
185339,45021031042,DD,2,2,5,4,2,4,2,5,...,2,4,3,3,2,4,NaN,72.41,36.36,42.55
185340,45021031045,DD,2,2,3,3,1,3,2,5,...,2,4,3,2,3,4,36.67,66.67,41.07,42.86
185341,45021031046,DD,2,2,3,3,1,2,2,3,...,2,4,3,2,3,4,42.37,72.41,45.45,36.17
185342,45021031047,DD,2,2,4,3,1,2,2,3,...,2,4,3,2,3,4,45.00,66.67,32.14,24.49
185343,45021031048,DD,2,2,3,3,1,2,2,3,...,2,4,3,2,3,4,22.03,65.52,38.18,19.15
185344,45021031049,DD,2,2,2,1,1,3,2,3,...,2,4,3,3,4,4,31.67,40.00,41.07,24.49
185345,45021031050,DD,2,2,3,2,1,3,2,3,...,2,4,3,2,4,4,40.68,41.38,38.18,27.66
185346,45021031051,DD,2,2,3,2,1,2,2,1,...,2,4,3,3,4,4,18.33,70.00,33.93,32.65
185347,45021031052,DD,2,2,3,2,1,2,2,1,...,2,4,3,3,4,4,23.73,55.17,41.82,31.91

## Checking data meanings using column labels